.col-sm-12.col-md-3
    .card.bg-dark.text-white 
        .card-body
            .chatroom-title-container
                .chatroom-title Global Chat
            .chatbox   
                #messages
            .messagebox
                input(class="form-control" type="text" name="chat-message" id="message")
                div(class="text-end me-1 mb-1")
                    button.btn.bg-success(type="button" id="messageSend")
                        i.fa.fa-paper-plane