.player1 .player-cards #card1{
    left: 50%;
    top: calc(50% - 210px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card2{
    left: 50%;
    top: calc(50% - 180px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card3{
    left: 50%;
    top: calc(50% - 150px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card4{
    left: 50%;
    top: calc(50% - 120px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card5{
    left: 50%;
    top: calc(50% - 90px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card6{
    left: 50%;
    top: calc(50% - 60px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card7{
    left: 50%;
    top: calc(50% - 30px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card8{
    left: 50%;
    top: calc(50% - 0px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card9{
    left: 50%;
    top: calc(50% + 30px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card10{
    left: 50%;
    top: calc(50% + 60px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card11{
    left: 50%;
    top: calc(50% + 90px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card12{
    left: 50%;
    top: calc(50% + 120px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card13{
    left: 50%;
    top: calc(50% + 150px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card14{
    left: 50%;
    top: calc(50% + 180px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}

.player1 .player-cards #card15{
    left: 50%;
    top: calc(50% + 210px);
    transform: translate(-50%, -50%) scale(0.5,0.5) rotate(-90deg);
    position:absolute;
}